QVTQO8_0928/BG_orarend.dtd

<!ELEMENT BG_orarend (ora+)>

<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
  <!ATTLIST ora
    id ID #REQUIRED
    tipus CDATA #REQUIRED>

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap,mettől,meddig)>

<!ELEMENT nap (#PCDATA)>

<!ELEMENT mettől (#PCDATA)>

<!ELEMENT meddig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>

<!ELEMENT oktato (#PCDATA)>

<!ELEMENT szak (#PCDATA)>