XMLTaskQVTQO8/XMLSchemeQVTQO8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tulaj" type="TulajType" />
  <!-- 
      Konyveloiroda element létrehozása
    -->

  <xs:complexType name="KonyveloirodaType">
    <xs:sequence>
      <xs:element type="szekhelyType" name="szekhely" />
      <xs:element type="xs:string" name="ugyvezeto" />
    </xs:sequence>
    <xs:attribute ref="k_adoszam" use="required" />
  </xs:complexType>

  <!-- 
    Ceg element létrehozása
   -->
  <xs:complexType name="CegType">
    <xs:sequence>
      <xs:element type="xs:string" name="email" />
      <xs:element type="xs:string" name="szekhely" />
      <xs:element type="xs:short" name="alapitas_eve" />
    </xs:sequence>
    <xs:attribute ref="nev" use="required" />
    <xs:attribute ref="u_c" use="required" />
  </xs:complexType>

  <!-- 
    Ugyfelek element létrehozása
   -->
  <xs:complexType name="UgyfelekType">
    <xs:sequence>
      <xs:element type="xs:string" name="nev" />
      <xs:element type="xs:string" name="email" />
      <xs:element type="lakcimType" name="lakcim" />
    </xs:sequence>
    <xs:attribute ref="u_adoazonosito" use="required" />
    <xs:attribute ref="k_u" use="required" />
  </xs:complexType>

  <!-- 
    Nav element létrehozása
   -->
  <xs:complexType name="NavType">
    <xs:sequence>
      <xs:element type="xs:string" name="email" />
      <xs:element type="ugyintezoType" name="ugyintezo" />
      <xs:element type="nyitvatartasType" name="nyitvatartas" />
    </xs:sequence>
    <xs:attribute ref="n_adoszam" use="required" />
    <xs:attribute ref="k_n" use="required" />
  </xs:complexType>

  <!-- 
   Oep element létrehozása
  -->
  <xs:complexType name="OepType">
    <xs:sequence>
      <xs:element type="xs:string" name="email" />
      <xs:element type="ugyintezoType" name="ugyintezo" />
      <xs:element type="nyitvatartasType" name="nyitvatartas" />
    </xs:sequence>
    <xs:attribute ref="o_adoszam" use="required" />
    <xs:attribute ref="k_o" use="required" />
  </xs:complexType>

  <!-- 
    Onkormanyzat element létrehozása
   -->
  <xs:complexType name="OnkormanyzatType">
    <xs:sequence>
      <xs:element type="xs:string" name="email" />
      <xs:element type="ugyintezoType" name="ugyintezo" />
      <xs:element type="nyitvatartasType" name="nyitvatartas" />
    </xs:sequence>
    <xs:attribute ref="on_adoszam" use="required" />
  </xs:complexType>

  <!-- Konyviroda-Onkormanyzat kapcs. tábla -->
  <xs:complexType name="Konyv_OnkType">
    <xs:sequence>
      <xs:element type="xs:int" name="dok.id" />
      <xs:element type="xs:byte" name="dok.szam" />
    </xs:sequence>
    <xs:attribute ref="k_on" use="required" />
    <xs:attribute ref="k_k" use="required" />
  </xs:complexType>

  <!-- 
    Attribútomok kialakítása
   -->
  <!-- Konyviroda attr. -->
  <xs:attribute type="xs:string" name="k_adoszam" />

  <!-- Ceg attr. -->
  <xs:attribute type="xs:string" name="nev" />
  <xs:attribute type="xs:string" name="u_c" />

  <!-- Ugyfelek attr. -->
  <xs:attribute type="xs:string" name="u_adoazonosito" />
  <xs:attribute type="xs:string" name="k_u" />

  <!-- Nav attr. -->
  <xs:attribute type="xs:string" name="n_adoszam" />
  <xs:attribute type="xs:string" name="k_n" />

  <!-- Oep attr. -->
  <xs:attribute type="xs:string" name="o_adoszam" />
  <xs:attribute type="xs:string" name="k_o" />

  <!-- Onkormanyzat attr. -->
  <xs:attribute type="xs:string" name="on_adoszam" />

  <!-- Konyv_Onk attr. -->
  <xs:attribute type="xs:string" name="k_on" />
  <xs:attribute type="xs:string" name="k_k" />


  <!-- 
    Complext típusu elemek definiálása
   -->
  <xs:complexType name="szekhelyType">
    <xs:sequence>
      <xs:element type="xs:short" name="irszam" />
      <xs:element type="xs:byte" name="hazszam" />
      <xs:element type="xs:string" name="utca" />
      <xs:element type="xs:string" name="varos" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lakcimType">
    <xs:sequence>
      <xs:element type="xs:short" name="irszam" />
      <xs:element type="xs:short" name="hazszam" />
      <xs:element type="xs:string" name="utca" />
      <xs:element type="xs:string" name="varos" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ugyintezoType">
    <xs:sequence>
      <xs:element type="xs:string" name="email" />
      <xs:element type="xs:long" name="telefon" />
      <xs:element type="xs:string" name="nev" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="nyitvatartasType">
    <xs:sequence>
      <xs:element type="xs:string" name="tol" />
      <xs:element type="xs:string" name="ig" />
    </xs:sequence>
  </xs:complexType>

  <!-- 
    Egyedi tipusok meghatározása
   -->
  <xs:complexType name="TulajType">
    <xs:sequence>

      <xs:element type="KonyveloirodaType" name="Konyveloiroda" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="CegType" name="Ceg" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="UgyfelekType" name="Ugyfelek" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="NavType" name="Nav" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="OepType" name="Oep" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="OnkormanyzatType" name="Onkormanyzat" maxOccurs="unbounded" minOccurs="3"></xs:element>

      <xs:element type="Konyv_OnkType" name="Konyv_Onk" maxOccurs="unbounded" minOccurs="3"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="keys">
    <!-- 
            Konyvelo iroda primary key majd foreign kapcsolatok kialakítása
      -->

    <!-- 
        Elsodleges kulcsok
       -->
    <xs:key name="Konyveliroda_kulcs">
      <xs:selector xpath="Konyveloiroda"></xs:selector>
      <xs:field xpath="@k_adoszam"></xs:field>
    </xs:key>

    <xs:key name="Onkormanyzat_kulcs">
      <xs:selector xpath="Onkormanyzat"></xs:selector>
      <xs:field xpath="@on_adoszam"></xs:field>
    </xs:key>

    <xs:key name="Ugyfelek_kulcs">
      <xs:selector xpath="Ugyfelek"></xs:selector>
      <xs:field xpath="@u_adoazonosito"></xs:field>
    </xs:key>

    <!-- 
        Idegen kulcsok
    -->
    <xs:keyref refer="Konyveliroda_kulcs" name="könyveloiroda_ugyfel_f_key">
      <xs:selector xpath="Konyveloiroda"></xs:selector>
      <xs:field xpath="@k_u"></xs:field>
    </xs:keyref>

    <xs:keyref refer="Konyveliroda_kulcs" name="könyveloiroda_nav_f_key">
      <xs:selector xpath="Konyveloiroda"></xs:selector>
      <xs:field xpath="@k_n"></xs:field>
    </xs:keyref>

    <xs:keyref refer="Konyveliroda_kulcs" name="könyveloiroda_oep_f_key">
      <xs:selector xpath="Konyveloiroda"></xs:selector>
      <xs:field xpath="@k_o"></xs:field>
    </xs:keyref>

    <!-- 
        Ceg es Ugyfel közötti egy-egy kapcsolat
       -->
    <xs:unique name="Ugyfel_ceg_f_key">
        <xs:selector xpath= "Ugyfelek"></xs:selector>
        <xs:field xpath="u_c"></xs:field>
    </xs:unique>

    <!-- 
          Konyveloiroda és az onkormányzat közötti tobb-tobb kapcs. kialakítása
       -->
    <xs:keyref refer="Onkormanyzat_kulcs" name="Onkormanyzat_konyveloiroda_f_key">
      <xs:selector xpath="Konyv_Onk"></xs:selector>
      <xs:field xpath="@k_on"></xs:field>
    </xs:keyref>

    <xs:keyref refer="Konyveliroda_kulcs" name="könyveloiroda_onkormanyzat_f_key">
      <xs:selector xpath="Konyv_Onk"></xs:selector>
      <xs:field xpath="@k_k"></xs:field>
    </xs:keyref>
  </xs:element>
</xs:schema>